.experience {
    height: 250px;
}

.experienceP {
    margin-top: 20px;
}

.aboutImg {
    width: 165px;
    height: 160px;
    background: #fff;
    padding: 12px;
}

.serviceImg {
    width: 253px;
    height: 190px;
}

#cn-tabs {
    height: 360px;
}

.service {
    height: 100%;
}

.productImg {
    width: 838px;
    height: 373px;
}

.productInsideImg {
    width: 400px;
    height: 250px;
}

.certificateDiv {
    text-align: center;
}